NODE_ENV=development

HOST=localhost
PORT=3000

ALLOWED_ORIGINS=http://localhost:4200

DEFAULT_ADMIN_NAME=Administrator
DEFAULT_ADMIN_PASSWORD=Ad31n@5ecure
DEFAULT_ADMIN_DEPARTMENT=Administration
DEFAULT_USER_PASSWORD=5ecuredP@ssw0rd

DATABASE_URL="postgres://tanta:nonS3cure@localhost:5432/TantaFinancial"
SHADOW_DATABASE_URL="postgres://tanta:nonS3cure@localhost:5432/TantaFinancialShadow"
