NODE_ENV=development

HOST=localhost
PORT=3000

ALLOWED_ORIGINS=http://localhost:4200

DATABASE_URL="postgres://tanta:nonS3cure@localhost:5432/TantaFinancial"
SHADOW_DATABASE_URL="postgres://tanta:nonS3cure@localhost:5432/TantaFinancialShadow"
